<main class="responsive">
  <article class="absolute middle center center-align" style="padding: 5rem; min-width: 45vw;">
    <h4 class="max center-align" style="margin-bottom: 1.5rem;">Log in</h4>
    <%= render 'form', form: form %>
    <div class="row center-align">
      <%= link_to 'Sign Up', new_user_registration_path, class: 'link' %>
    </div>
  </article>
</main>