<%= search_form_for Chats::Domain::Chat.ransack(params[:q]), url: chats_path, data: { "data-controller": "form" } do |f| %>
  <div class="field label round border">
    <%= f.search_field :name_cont, placeholder: ' ' %>
    <%= f.label :name_cont, 'Search' %>
  </div>
<% end %>