<dialog id="newChatDialog" class="modal surface">
  <header>
    <nav style="gap: 0.25rem">
      <h6 class="max no-margin">New Chat</h6>
      <button class="transparent circle large" onclick="document.getElementById('newChatDialog').close()">
        <i>close</i>
      </button>
    </nav>
  </header>
  <div class="large-divider"></div>

  <%= render 'form', form: Chats::Ui::CreateChatValidator.new, user_options: user_options %>
</dialog>