<div id="chatParticipantList">
  <%= render partial: 'chats/ui/participants/participant_list_item', collection: participants.filter{ |it| it.status != 'removed' }, as: :participant, locals: { chat_id: chat_id, user_id: user_id } %>
</div>