<%= turbo_frame_tag 'participants_list' do %>
  <div id="chatParticipantList">
    <%= render partial: 'chats/ui/participants/participant_list_item', collection: participants.filter{ |it| it.status != 'removed' }, as: :participant, locals: { user_id: current_user.id } %>
  </div>
<% end %>