dialog#imagePreviewDialog.max data-controller="image-preview"
  nav.right-align
    i.small-margin data-action="click->image-preview#close" style="cursor: pointer" close
  img#imagePreviewContent style="width: 100%; height: 100%; object-fit: contain"
