<dialog id="imagePreviewDialog" class="max" data-controller="image-preview">
  <nav class="right-align">
    <i class="small-margin" data-action="click->image-preview#close" style="cursor: pointer">close</i>
  </nav>
  <img id="imagePreviewContent" style="width: 100%; height: 100%; object-fit: contain">
</dialog>