<%= turbo_frame_tag 'chat_images' do %>
  <div id="chatImagesContainer" class="grid" style="min-height: 85vh">
    <% @paginated_result.data.each do |file_dto| %>
      <%= render 'image', file_dto: file_dto %>
    <% end %>


    <% if @paginated_result.pagination.next.present? %>
      <%= turbo_frame_tag 'image_pagination', loading: :lazy, src: chat_images_path(format: :turbo_stream, chat_id: params[:chat_id]) %>
    <% end %>
  </div>
<% end %>