<main class="responsive">
  <article class="absolute middle center center-align" style="padding: 5rem; min-width: 45vw;">
    <h4 class="max center-align" style="margin-bottom: 1.5rem;">Sign Up</h4>
    <%= render 'form', form: form %>
  </article>
</main>