<div style="overflow-y: scroll; height: 450px;" data-controller="chat">
  <% if paginated_result.pagination.next.present? %>
    <%= turbo_frame_tag 'message_pagination',
                        loading: :lazy,
                        src: chat_messages_load_more_path(format: :turbo_stream, page: paginated_result.pagination.next)
    %>
  <% end %>

  <div id="messageContainer">
    <% paginated_result.data.messages.each do |message| %>
      <%= render 'message_list_item', message: message, user_id: current_user.id, should_scroll: false, acknowledge: false %>
    <% end %>
  </div>
</div>