div.s12.m12.l12.right-align
  div.round.messageRow.max style="display: inline-flex; align-items: center"
    button.circle.messageOptions
      i more_vert
      menu.right.no-wrap
        = link_to 'Remove', chat_message_path(id: message.id, chat_id: message.chat_id), data: { "turbo-method": :delete }
    - if message.message.present?
      div.max.left-align
        - if message.is_an_emoji?
          p style="font-size: 3rem;"
            = message.message
          p.tooltip.no-space.bottom data-controller="chat-date-formatter" data-chat-date-formatter-timestamp-value=message.created_at.as_json
        - else
          div.border.round.surface-bright.medium-padding style="background-color: #218aff !important; color: white !important; display: inline-block"
            p
              = message.message
            p.tooltip.no-space.bottom data-controller="chat-date-formatter" data-chat-date-formatter-timestamp-value=message.created_at.as_json
    - else
      - if message.attachment_file.present?
        - if message.attachment_file.content_type.include?('image')
          div.max style="height: 200px"
            progress.circle.large
            = image_tag(message.attachment_file.url,
                    style: 'width: 100%; height: 100%; object-fit: contain; cursor: pointer; display: none;',
                    "data-controller": 'image-preview',
                    "data-image-preview-image-url-value": message.attachment_file.url,
                    "data-action": "click->image-preview#preview",
                    onload: "javascript: this.parentElement.querySelector('progress').remove(); this.style.display = 'initial'")
            p.tooltip.no-space.bottom data-controller="chat-date-formatter" data-chat-date-formatter-timestamp-value=message.created_at.as_json
        - else
          a.secondary.round.small-padding href=message.attachment_file.url target="_blank"
            i style="font-size: 30px" description
            p style="margin-left: 0.5rem;" = message.attachment_file.filename
            p.tooltip.no-space.bottom data-controller="chat-date-formatter" data-chat-date-formatter-timestamp-value=message.created_at.as_json
    = image_tag('profile.jpeg', class: 'circle small', style: 'margin-left: 0.75rem;')
