<div class="s12">
  <a href="<%= file_dto.url %>" target="_blank" class="row wave round small-padding">
    <i style="font-size: 30px">description</i>
    <p style="margin-left: 0.5rem;"><%= file_dto.filename %></p>
  </a>
</div>