<%= turbo_frame_tag 'chat_files' do %>
  <div id="chatFilesContainer" class="grid">
    <% @paginated_result.data.each do |file_dto| %>
      <%= render 'file', file_dto: file_dto %>
    <% end %>

    <% if @paginated_result.pagination.next.present? %>
      <%= turbo_frame_tag 'file_pagination', loading: :lazy, src: chat_files_path(format: :turbo_stream, chat_id: params[:chat_id]) %>
    <% end %>
  </div>
<% end %>